* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: wheat;
    padding: 25px;
    box-shadow: 0 5px 10px rebeccapurple;
    position: relative;
}
.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blueviolet;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-data .name{
    font-size: 25px;
    font-weight: 400;
}
.profile-card .media-buttion{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttion .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0px 8px;
    background-color: rgb(57, 57, 161);
    text-decoration: none;
}
.profile-card .buttions{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.buttions .buttion{
    border: none;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
} 
.buttions .buttion:hover{
    background-color: white;
    color: black;
}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;

}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}